@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

$background-colour: rgb(26, 26, 31);
$foreground-colour: rgb(255, 233, 233);


$board-background: rgb(17, 17, 20);

$cell-background: rgb(35, 35, 44);


$main-border-radius: 4px;

$filled-cell-border-radius: 50%;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    &:not(.active) {
        display: none;
    }

    background-color: $background-colour;
    color: $foreground-colour;

    &#menu {
    }
    &#game {
    }
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;

    &:not(.active) {
        display: none;
    }

    background-color: $background-colour;
    color: $foreground-colour;
    border-radius: $main-border-radius;
}

#board {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    border-radius: $main-border-radius;
    background-color: $board-background;

    .row {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .cell {
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 3rem;
            font-weight: 700;
            background-color: $cell-background;
            color: $foreground-colour;
            border-radius: $main-border-radius;
            user-select: none;

            transition: border-radius 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            &.filled {
                border-radius: $filled-cell-border-radius;
            }

            &:not(.filled) {
                cursor: pointer;
            }

            > span.debug-info {
                display: none;
                color: $foreground-colour;
            }
        }
    }
}
