* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    display: none;

    height: 100vh;
    width: 100vw;

    &.active {
        display: block;
    }

    &#menu {
        background-color: red;
    }
    &#game {
        background-color: blue;
    }
    &#end {
        background-color: green;
    }
}