@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

$background-colour: rgb(26, 26, 31);
$foreground-colour: rgb(255, 233, 233);

$board-background-colour: rgb(17, 17, 20);
$cell-background-colour: rgb(35, 35, 44);

$button-background-colour: rgb(35, 35, 44);

$main-border-radius: 4px;
$hover-cell-border-radius: 24px;
$filled-cell-border-radius: 50%;

$overlay-blur: 24px;
$overlay-blur-opacity: 0.25;
$overlay-no-blur-opacity: 0.5;


@mixin overlay($background-colour) {
    background-color: rgba($background-colour, $overlay-no-blur-opacity);

    @supports (backdrop-filter: blur($overlay-blur)) {
        backdrop-filter: blur($overlay-blur);
        background-color: rgba($background-colour, $overlay-blur-opacity);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    &:not(.active) {
        display: none;
    }

    background-color: $background-colour;
    color: $foreground-colour;

    &#menu {
        gap: 1rem;
    }
    &#game {
    }
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;

    &:not(.active) {
        display: none;
    }

    color: $foreground-colour;
    border-radius: $main-border-radius;

    @include overlay($background-colour);
}

#board {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    border-radius: $main-border-radius;
    background-color: $board-background-colour;

    .row {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .cell {
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 3rem;
            font-weight: 700;
            background-color: $cell-background-colour;
            color: $foreground-colour;
            border-radius: $main-border-radius;
            user-select: none;

            transition: border-radius 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            &.filled {
                border-radius: $filled-cell-border-radius;
            }

            &:not(.filled) {
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    font-size: 3rem;
                    font-weight: 400;
                    color: $foreground-colour;
                    opacity: 0;

                    transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                &:hover {
                    border-radius: $hover-cell-border-radius;

                    &::after {
                        content: attr(data-hover);
                        opacity: 0.5;
                    }
                }
            }

            > span.debug-info {
                display: none;
                color: $foreground-colour;
            }
        }
    }
}

.button {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    user-select: none;

    border-radius: $main-border-radius;
    background-color: $button-background-colour;
    color: $foreground-colour;
    text-decoration: none;

    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1), color 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.circle {
        text-align: center;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }

    &:hover {
        background-color: $foreground-colour;
        color: $background-colour;
    }
}

.selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    user-select: none;

    .selector-text {
        font-size: 1.25rem;
    }
}